.boxTextarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputTextarea{
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: #ccd0cf;
    border: 2px solid black;
    padding: 6px 8px;
    outline: none;
    transition: 0.4s;
}

.inputTextarea:hover{
    border: 2px solid #77838d;
    transition: 0.4s;
}

.inputTextarea:focus{
    border: 2px solid #77838d;
    transition: 0.4s;
}

.textAlert{
    font-size: 11px;
    color: rgb(194, 43, 43);
}

@media (max-width: 600px){
    .inputTextarea{
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .inputTextarea{
        font-size: 14px;
        height: 90px;
    }
}